
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@100&family=M+PLUS+Rounded+1c:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Be Vietnam', sans-serif;

}
.universe{
  width: 100vw;
  height: 100vh;
  background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)),url('./img/starry-sky-2675322_1920.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.heads{
  height: 8vh;
  width: 100vw;
  border: none;
  border-bottom: 0.7px solid white;
  display: flex;
  /* justify-content: space-between; */
 /* padding-top:0.5em ; */
}
.topic{
  width: 40%;
  height: 100%;
  color: white;
  margin-left: 1em;
  padding-bottom: 1em;
  text-transform: uppercase;
}
.header{
  border-bottom: 1px solid #E2E8F0;
  display: flex;
  justify-content: end;
  width: 60%;
  
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 1.5rem; */
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 1.5rem;
}

.nav-link{
  font-size: 17px;
  font-weight: 300;
  color: #ffffff;
}

.nav-link:hover{
  color: #b92a82;
}

/* .nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
} */
.planets-links{
  width: 60%;
  height: 100%;
  margin-left: 9em;
  /* padding-left: 3em; */
  float: right;
}
.nav{
  width: 200px;
  height: 100%;
  margin: 1em;
  text-transform: uppercase;
  color: white;
  list-style: none;
  text-decoration: none;
}
.core{
  width: 100vw;
  height: 70%;
  display: flex;
  flex-direction: row;
}
.planet{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  animation: spin 30s linear alternate infinite;
}
.img1{
  width: 60%;
  height: 100%;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #00000059);
}
.planet-info{
  width: 40%;
  height: 100%;
  padding-right: 2em;
  display: flex;
  flex-direction: column;
}
.title{
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 1em; */
}
.para{
  /* height: 40%; */
  padding-top: 0em;
  /* margin-bottom: 1em; */
}
.planet-info h1{
  color: white;
  text-transform:uppercase ;
  text-align: center;
}
.planet-info h3{
 
  font-size: 15px;
  color: white;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}


@keyframes spin {
  /* 0% {
    transform: translateX(-50%);
  } */
  /* 100% {
    transform: translateX(-70%);
  } */
}
.planet > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0000001a);
}
.dropdown{
  display: none;
}
.dropbtn{
  display: none;
}
.dropdown-content{
  display: none;
}
.planet > span > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.overview{
  height: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.over{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 500px;
  border: 1px solid #fff;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1em;
  cursor: pointer;
}
.over1{
  background-color: rgb(66, 34, 104);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 500px;
  border: 1px solid #ddd;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1em;
  cursor: pointer;
}
.over:hover{
  background-color: rgb(99, 8, 99);
}
.footer{
display: flex;
flex-direction: row;
width: 100%;
/* height: 20%; */
justify-content: center;
align-items: center;
padding-top: 3em;
/* padding-left: 2em;
padding-right: 2em; */
}
.foot{
  /* width: 200px; */
  height: 100px;
  border: 1px solid #cecece;
  margin-right: 2em;
  display: flex;
  flex-direction: column;
  color: white;
  /* padding-top: 0.8em; */
  padding-left: 0.5em;
}
@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: rgba(77, 7, 77, 0.63);
      width: 100%;
      border-radius: 10px;
      text-align: center;
      z-index: 2;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(66, 63, 63, 0.747);
  }
.para{
  font-size: 10px;
}
  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
.footer{
  padding-top: 2em;
  display: flex;
  flex-direction: column;
}
.foot{
  margin-top: 1em;
  margin-right: 0;
}
.universe{
  overflow: auto;
}
}
@media screen and (max-width: 1024px) {
  .planets-links{
    display: none;
  }
 .core {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .planet{
    width: 100%;
    height: 30%;
  }
  .title{
    height: 20%;
  }
  .img1{
    height: 100%;
  }
  .planet-info{
    width: 100%;
    height: 50%;
    padding-right: 1em;
    padding-left: 1em;
  }
  .footer{
    padding-right: 5em;
  }
}